body{
	padding-top:50px;
	background-color: lightblue;
	background-size: cover;

	background-image: url("../images/cover3.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#carousel-container
{
	padding-right:0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.carousel-inner 
{
	background-color: black;
	
}

.carousel-inner img 
{ 
	opacity: 0.7; 
}

#brand_id
{
	font-family: 'Pacifico', cursive;
	font-size: 170%;
}


#author_center
{
	padding-right: 300px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

.posts h1{
	
	font-family: 'Slabo 27px', serif;
	color: white;
	font-size: 30px;
}


.footer_class
{
	background-color: #101010;
	/*background-color: white;*/
	

	
}

.footer_sub h1
{
	
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 23px;
}

.footer_main h1
{
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	text-align: center;
}

/*.post_size{
	font-size: 32px;
}*/
.pagination_center{
	margin-left:auto;
	margin-right:auto; 
	
}


.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.carousel-caption h1{
	color: white;
	font-family: 'Libre Baskerville', serif;
	text-shadow: 2px 2px black;
	font-size: 40px;
	line-height: 100px;

}
a:link {
    text-decoration: none;
}
.carousel-caption p{
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	text-shadow: 1px 1px black;
	padding-bottom: 50px;
}

.jumbotron img{
	height: 600px;
}







